:root {
  --color-box-shadow: #0000001a;
  --color-border: #d9dfe1;
  --color-bg-white: #f6f8f8;
  --color-bg-grey: #edf0f1;
  --color-bg-primary: #e6f7ff;
  --color-white: #fff;
  --color-primary: #42b883;
  --color-text-secondary: #5f5f5f;
  --color-footer: #353254;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Medium, sans-serif;
}
