:root {
  --color-box-shadow: #0000001a;
  --color-border: #d9dfe1;
  --color-bg-white: #f6f8f8;
  --color-bg-grey: #edf0f1;
  --color-white: #fff;
  --color-selected: #42b883;
  --color-error: red;
  --color-error-hover: #8b0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Medium, sans-serif;
}
